############################################
# REQUIRED - Fill in the following values
############################################
SWAPESCROW_RPC_URL=
DEFAULT_ACCOUNT=
KEY=
DEFAULT_GAS=5000000
DEFAULT_GAS_PRICE=0
FILTER_GENESIS_BLOCK_NUMBER=

############################################
# NOT REQUIRED - Uncomment to override
############################################
##################
# MongoDB
##################
# Exemplo1: mongodb+srv://<username>:<password>@<cluster_name>.<mongo_address>/
# Exemplo2: mongodb+srv://alice:alice_password@mycluster.hmnjitu.mongodb.net/
MONGO_URL=

##################
# Zokrates Worker
##################
# ZOKRATES_IMAGE=
