STARLIGHT_RPC_URL=
STARLIGHT_DEFAULT_ACCOUNT_KEY=
STARLIGHT_ESCROWSHIELD_ADDRESS=
STARLIGHT_ERC20X_ADDRESS=
STARLIGHT_ERC20Y_ADDRESS=
STARLIGHT_ERC1155_ADDRESS=
STARLIGHT_ERC1155_TOKEN_IDS=1,2
STARLIGHT_ZAPP_URL_SENDER=http://localhost:3000
STARLIGHT_ZAPP_URL_RECEIVER=http://localhost:3003
STARLIGHT_SENDER_ADDRESS=
STARLIGHT_RECEIVER_ADDRESS=
DEFAULT_GAS=29000000
DEFAULT_GAS_PRICE=7000000000

BANKA_PRIVATE_KEY=
BANKB_PRIVATE_KEY=
BANKC_PRIVATE_KEY=
BANKD_PRIVATE_KEY=
BANKE_PRIVATE_KEY=
BANKF_PRIVATE_KEY=
BANKG_PRIVATE_KEY=
BANKH_PRIVATE_KEY=
